.chatbot-messages {
  .message-container {
    height: 77vh;
  }

  .user-list {
    height: 89vh;
  }
  .user-info {
    height: 89vh;
    .avatar-container {
      aspect-ratio:6/6;
      height: 60% !important
    }
  }

  .account-list {
    width: 4.5rem;
    height: 7vh;
    .avatar-container {
      aspect-ratio:6/6;
      height: 60% !important
    }
  }
}
