@import "../utils//variables";

.advantagesCard {
  .icon {
    svg {
      width: 80px;
      height: 80px;
      -webkit-box-shadow: $box-shadow;
      box-shadow: $box-shadow;
      padding: 8px;
      border-radius: $border-radius;
    }
  }
}
