@import "../utils/variables";
.avatar {
  border-radius: 9999px;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid $gray !important;

  &.active {
    &.chatbot {
      border: 2px solid $chatbot !important;
    }
  }
  svg {
    color: #fff;
    font-size: 2rem;
    margin: auto;
  }
  &.instagram {
    background-color: #d22f71;
  }
}
