@import "../utils/variables";
.avatar {
  border-radius: 9999px;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 6px;

  &.image {
    border: 1px solid $gray !important;
    &.active {
      &.chatbot {
        border: 2px solid $chatbot !important;
      }
    }
  }

  &.icon {
    &.instagram {
      background-color: #d22f71;
      svg {
        fill: #fff;
        width: 100%;
        height: 100%;
      }
    }
  }
}
