.horizontal-user-box {
  background: #fff;
  border-radius: $border-radius;
  padding: 8px;
  height: auto;
  display: flex !important;
  justify-content: end;
  .avatar-container {
    margin: 0 16px;
    width: 70px;
    height: 70px;
  }

  .subtitle {
    font-size: 12px;
    color: $gray;
  }

  &:hover,
  &.active {
    background: $chatbot;
    img {
      box-shadow: inset 3px 3px 10px 0 #000000;
      border-radius: 999px;
    }
    .subtitle {
      color: $dark-text;
    }
  }
}
