@import "../utils/variables";

.input-box {
  label {
    margin: 8px 14px;
    color: $light-text;
    font-weight: 500;
  }
  input {
    background: transparent;
    border-radius: $border-radius-sm !important;
    color: $dark-text;
    border: $border;
    padding: 0 16px;
    height: $element-height;
    &.number {
      direction: ltr;
    }

    ::placeholder {
      color: $gray;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $gray;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $gray;
    }

    &:focus {
      box-shadow: none;
      border-color: $primary !important;
    }

    &:hover {
      border-color: $primary !important;
    }
  }

  &:hover {
    label {
      color: $primary;
    }
  }
}
