@import "../utils/variables";

.message-container {
  .message-box {
    padding: 16px;
    color: $primary;
    display: flex;
    height: fit-content;
    width: fit-content;
    &.user {
      background: $chatbot;
      border-radius: $border-radius $border-radius  $border-radius 0;
    }

    &.bot {
      background: $secondary;
      border-radius: $border-radius $border-radius 0 $border-radius ;
    }


  }
  .message-date {
    font-size: $font-size-sm;
    color: $gray
  }
}
