@import '../utils/variables';

.price-box {
  padding: 32px;
  border-radius: $border-radius;
  &.active {
    background-color: $primary;
    background: linear-gradient(
      34deg,
      rgba(242, 252, 254, 1) 0%,
      #70d3ba 30%,
      rgba(242, 252, 254, 1) 0%
    );
    border-radius: $border-radius;
    color: $dark-text;
    .price {
      font-size: $font-size-lg;
      p {
        margin: 0px;
      }
    }
    .light {
      color: $light-text;
    }
  }

  &.disabled {
    opacity: 0.7;
    color: $light-text;
  }

  .price {
    text-align: center;
  }
  .type {
    padding: 4px;
    border-radius: $border-radius;
    text-align: center;

    &.bronze {
      border: 1px solid rgba(214, 154, 119, 1);
      color: rgba(214, 154, 119, 1);
    }
    &.gold {
      border: 1px solid rgba(199, 139, 56, 1);
      color: rgba(199, 139, 56, 1);
    }
    &.silver {
      border: 1px solid rgba(116, 116, 116, 1);
      color: rgba(116, 116, 116, 1);
    }
  }
}
