@import "../utils//variables";

.select-box {
  label {
    margin: 8px 14px;
    color: $light-text;
    font-weight: 500;
  }

  select {
    background: transparent;
    border-radius: 16px !important;
    color: $dark-text;
    border: $border;
    padding: 16px;
  }
  &:hover {
    label {
      color: $primary;
    }
  }
}
