@import "../utils//variables";

.select-box {
  label {
    margin: 8px 14px;
    color: $light-text;
    font-weight: 500;
  }

  select {
    background: transparent;
    border-radius: $border-radius-sm !important;
    color: $dark-text;
    border: $border;
    padding: 0 16px;
    height: $element-height;
  }
  svg {
    fill: $gray;
  }
  &:hover {
    label {
      color: $primary;
    }
    select {
      border: $border-primary;
    }
    svg {
      fill: $primary;
    }
  }
}
