@import "../utils/variables";

[class~="ant-typography"] {

    &[class~="primary"] {
        color: $primary !important;
    }
    &[class~="ant-typography-secondary"] {
        // color: $secondary !important;
    }
    &[class~="ant-typography-danger"] {
        // color: $danger !important;
    }
    &[class~="ant-typography-success"] {
        // color: $success !important;
    }
    &[class~="ant-typography-warning"] {
        // color: $warning !important;
    }
    &[class~="dark"] {
        color: $dark-text !important;
    }
    &[class~="accent"] {
        // color: $accent !important;
    }
    &[class~="light"] {
        color: $light-text !important;
    }

    &[class~="center"] {
        text-align: center;
    }

    &[class~="gray"] {
        color: $gray;
    }

    &[class~="lg"] {
        font-size: $font-size-lg !important;
    }
     &[class~="xlg"] {
        font-size: $font-size-xlg !important;
    }
    &[class~="md"] {
        font-size: $font-size-md !important;
    }
    &[class~="sm"] {
        font-size: $font-size-sm !important;
    }
}
