@import '../utils/variables';
@import '../base/mixins';

.landing-layout {
  background: $landing-header-background;
  color: $on-landing-header-background;
  font-size: $font-size-md;
  * {
    font-family: $font-family;
  }

  #header {
    .logo {
      a {
        p {
          color: $light-text;
        }
      }
    }
    .menu {
      a {
        color: $light-text;
      }
    }
    svg {
      fill: $dark-text;
    }
  }
  #intro {
    height: 50vh;
    max-width: 90%;
    .main-title {
      color: $dark-text;
    }
    .sub-title {
      color: $light-text;
    }
    .intro-img {
      img {
        max-width: 480px;
        max-height: 60vh;
        display: inline-block;
        overflow: hidden;
      }
    }
  }
  #cards {
    .title {
      max-width: 90%;
      p {
        color: $dark-text;
      }
    }
    .advantagesCard {
      .title {
        color: $dark-text;
      }
    }
  }
  #support {
    .title {
      color: $dark-text;
    }
  }

  #footer {
    .about-box {
      .title {
        color: $primary;
      }
    }
    .business-info {
      p {
        color: $light-text;
      }
      svg {
        height: 20px;
        width: 18px;
        fill: $light-text;
      }
      .location-info {
        svg {
          width: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .landing-layout {
    #intro {
      height: 60vh;
    }
  }
}

@media only screen and (max-width: 640px) {
  .landing-layout {
    #intro {
      height: 80vh;
    }
  }
}
