@import "../utils/variables";
@import "../base/mixins";

.landing-layout {
  background: $landing-header-background;
  color: $on-landing-header-background;
  font-size: $font-size-md;
  * {
    font-family: $font-family;
  }

  #header {
    .logo {
      a {
        p {
          color: $light-text;
        }
      }
    }
    .menu {
      a {
        color: $light-text;
      }
    }
  }
  #intro {
    height: 50vh;
    max-width: 90%;
    .main-title {
      color: $dark-text;
    }
    .sub-title {
      color: $light-text;
    }
    .intro-img {
      img {
        max-width: 480px;
        max-height: 550px !important;
        display: inline-block;
        overflow: hidden;
        top: 40px !important;
      }
    }
  }
  #cards {
    .title {
      color: $dark-text;
    }
    .advantagesCard {
      .title {
        color: $dark-text;
      }
      .description {
        font-size: $font-size-xsm;
      }
    }
  }
  #support {
    .title {
      font-size: $font-size-xlg;
      color: $dark-text;
    }

    .description {
      font-size: $font-size-xsm;
    }
  }

  #footer {
    .about-box {
      .title {
        color: $primary;
      }
    }
    .map-box {
      svg {
        width: 18px;
        fill: $light-text;
      }
      p {
        color: $light-text;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .landing-layout {
    #intro {
      height: 80vh;
    }
  }
}
