@import '../utils/variables';
@import '../base/mixins';

.landing-layout {
  background: $landing-header-background;
  color: $on-landing-header-background;
  height: $landing-header-height;
  font-size: $font-size-md;
  font-family: $font-family;
  #intro {
    height: 50vh;
    width: 80%;
    .main-title {
      font-size: $font-size-xlg;
      color: $dark-text;
      font-weight: bold;
    }
    .slogan {
      font-size: $font-size-lg;
      color: $light-text;
      font-weight: bold;
    }
    .description {
      font-size: $font-size-xsm;
    }
    .iphone {
      display: flex;
      width: 40vh !important;
      top: -140px;
    }
    .iphone img {
      width: 100%;
      height: 100%;
      display: inline-block;
      overflow: hidden;
    }
  }
  #cards {
    .title {
      font-size: $font-size-xlg;
      color: $dark-text;
      font-weight: bold;
    }
    .advantagesCard {
      .title {
        font-size: $font-size-md;
        color: $dark-text;
        font-weight: bold;
      }
      .description {
        font-size: $font-size-xsm;
      }
    }
  }
  #support {
    .title {
      font-size: $font-size-xlg;
      color: $dark-text;
      font-weight: bold;
    }

    .description {
      font-size: $font-size-xsm;
    }
  }
}
